* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #CACACA;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}